<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="StarWarsClasses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Setting1" value="May 5, 2014" />
    <add key="Setting2" value="May 6, 2014" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Connection_Strings.Properties.Settings.StarWarsRPGDB" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StarWarsRPGDB;Data Source=RSAT-JSPA-14\SQLEXPRESS;User ID=user;Password=password" providerName="System.Data.SqlClient" />-->
   <!-- <add name="StarWarsRPGDB" connectionString ="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StarWarsRPGDB;Data Source=RSAT-JSPA-14\SQLEXPRESS;User ID=user;Password=password"
            providerName="System.Data.SqlClient"  />-->
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <StarWarsClasses.Properties.Settings>
      <setting name="Tester" serializeAs="String">
        <value>55hjh</value>
      </setting>
    </StarWarsClasses.Properties.Settings>
  </userSettings>
</configuration>