<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="OrganizationLimit" value="3"/>

    <add key="WillDefenseTypeID" value="3"/>
    <add key="FortDefenseTypeID" value="1"/>
    <add key="ReflexDefenseTypeID" value="2"/>

    <add key ="WeaponExchangeBuybackRate" value ="50"/>
    <add key ="ArmorExchangeBuybackRate" value ="50"/>
    <add key ="EquipmentExchangeBuybackRate" value ="50"/>
    <add key ="ModificationExchangeBuybackRate" value ="50"/>

    <add key ="FightThroughPainFeatID" value="115"/>
    <add key ="ImprovedDamageThresholdFeatID" value="795"/>
    <add key ="Educated" value="4728"/>
    <add key ="Weapon_Finese_Lightsabers" value="1364"/>
    <add key ="Weapon_Finese_SimpleWeapons" value="1365"/>


    <add key="LinguistFeatID" value="33"/>
    <add key="ForceTrainingFeatID" value="116"/>
    <add key="ForceRegimenMasteryID" value="939"/>
    <add key="SkillFocus_AcrobaticsFeatID" value="62" />
    <add key="SkillFocus_ClimbFeatID" value="63" />
    <add key="SkillFocus_DeceptionFeatID" value="61" />
    <add key="SkillFocus_EnduranceFeatID" value="64" />
    <add key="SkillFocus_GatherInformationFeatID" value="65" />
    <add key="SkillFocus_InitiativeFeatID" value="66" />
    <add key="SkillFocus_JumpFeatID" value="67" />
    <add key="SkillFocus_Knowledge_BureaucracyFeatID" value="68" />
    <add key="SkillFocus_Knowledge_GalacticLoreFeatID" value="69" />
    <add key="SkillFocus_Knowledge_LifeSciencesFeatID" value="70" />
    <add key="SkillFocus_Knowledge_PhysicalSciencesFeatID" value="71" />
    <add key="SkillFocus_Knowledge_SocialSciencesFeatID" value="72" />
    <add key="SkillFocus_Knowledge_TacticsFeatID" value="73" />
    <add key="SkillFocus_Knowledge_TechnologyFeatID" value="74" />
    <add key="SkillFocus_MechanicsFeatID" value="113" />
    <add key="SkillFocus_PerceptionFeatID" value="76" />
    <add key="SkillFocus_PersuationFeatID" value="77" />
    <add key="SkillFocus_PilotFeatID" value="78" />
    <add key="SkillFocus_RideFeatID" value="80" />
    <add key="SkillFocus_StealthFeatID" value="81" />
    <add key="SkillFocus_SurvivalFeatID" value="82" />
    <add key="SkillFocus_SwimFeatID" value="83" />
    <add key="SkillFocus_TreatInjuryFeatID" value="84" />
    <add key="SkillFocus_UseComputerFeatID" value="85" />
    <add key="SkillFocus_UsetheForceFeatID" value="1202" />
    <add key="SkillTraining_AcrobaticsFeatID" value="35" />
    <add key="SkillTraining_ClimbFeatID" value="36" />
    <add key="SkillTraining_DeceptionFeatID" value="34" />
    <add key="SkillTraining_EnduranceFeatID" value="37" />
    <add key="SkillTraining_GatherInformationFeatID" value="38" />
    <add key="SkillTraining_InitiativeFeatID" value="1203" />
    <add key="SkillTraining_JumpFeatID" value="40" />
    <add key="SkillTraining_Knowledge_BureaucracyFeatID" value="41" />
    <add key="SkillTraining_Knowledge_GalacticLoreFeatID" value="42" />
    <add key="SkillTraining_Knowledge_LifeSciencesFeatID" value="43" />
    <add key="SkillTraining_Knowledge_PhysicalSciencesFeatID" value="44" />
    <add key="SkillTraining_Knowledge_SocialSciencesFeatID" value="45" />
    <add key="SkillTraining_Knowledge_TacticsFeatID" value="46" />
    <add key="SkillTraining_Knowledge_TechnologyFeatID" value="47" />
    <add key="SkillTraining_MechanicsFeatID" value="49" />
    <add key="SkillTraining_PerceptionFeatID" value="50" />
    <add key="SkillTraining_PersuationFeatID" value="51" />
    <add key="SkillTraining_PilotFeatID" value="52" />
    <add key="SkillTraining_RideFeatID" value="54" />
    <add key="SkillTraining_StealthFeatID" value="55" />
    <add key="SkillTraining_SurvivalFeatID" value="56" />
    <add key="SkillTraining_SwimFeatID" value="57" />
    <add key="SkillTraining_TreatInjuryFeatID" value="58" />
    <add key="SkillTraining_UseComputerFeatID" value="59" />
    <add key="SkillTraining_UsetheForceFeatID" value="1204" />


  </appSettings>
  <connectionStrings>
    <add name="StarWarsRPGDB" connectionString ="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StarWarsRPGDB;Data Source=RSAT-JSPA-14\SQLEXPRESS;User ID=user;Password=password"
            providerName="System.Data.SqlClient"  />
  </connectionStrings>
</configuration>